:root {
  --color-black: 0 0% 0%;
  --color-white: 0 100% 100%;
  --color-off-white: 0 0% 79%;
  --color-grey-1: 0 0% 15%;
  --color-grey-2: 0 0% 35%;
  --color-grey-3: 0 0% 50%;
  --color-primary-orange: 39 79% 54%;
  --color-primary-purple: 292 58% 53%;
  --default-font-size: 1.6rem;
  --primary-font: "Poppins";
  --sub-font: "Work Sans";
}

.dark-theme {
  --color-thumb: var(--color-white);
  --color-track: var(--color-black);
  --color-page-background: var(--color-grey-1);
  --color-text: var(--color-white);
  --container-bg: var(--color-grey-2);
  --color-primary: var(--color-primary-orange);
  --nav-bg: var(--color-grey-2);
  --project-link-bg: var(--color-grey-1);
  --text-selection: var(--color-primary-orange);
}

.light-theme {
  --color-thumb: var(--color-grey-1);
  --color-track: var(--color-white);
  --color-page-background: var(--color-white);
  --color-text: var(--color-black);
  --container-bg: var(--color-off-white);
  --color-primary: var(--color-primary-purple);
  --nav-bg: var(--color-off-white);
  --project-link-bg: var(--color-white);
  --text-selection: var(--color-primary-purple);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: color 0.1s ease, background-color 0.2s ease;
  /*Automatically inherits what is specified by on the later border-box*/
}

*::selection {
  color: hsl(var(--color-white));
  background-color: hsl(var(--text-selection));
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  box-sizing: border-box;
  background-color: hsl(var(--color-page-background));
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: hsl(var(--color-track));
}

body::-webkit-scrollbar-thumb {
  background: hsl(var(--color-thumb));
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font), sans-serif;
}

.section {
  padding-top: 3rem;
}
@media only screen and (min-width: 25em) {
  .section {
    padding-top: 4rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .section {
    padding-top: 8rem;
  }
}

.inner-container {
  margin: 0 auto 4rem;
  width: 90%;
}
@media only screen and (min-width: 37.5em) {
  .inner-container {
    width: 80%;
  }
}
@media only screen and (min-width: 56.25em) {
  .inner-container {
    width: 70%;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

textarea {
  resize: none;
}

.navigator {
  position: relative;
  z-index: 1000;
}
.navigator.active {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.navigator__btn-container, .navigator__toggle-btn {
  position: absolute;
  top: 4rem;
  z-index: 100;
}
@media only screen and (max-height: 23.5em) and (max-width: 56.25em) {
  .navigator__btn-container, .navigator__toggle-btn {
    top: 1rem;
  }
}
.navigator__btn-container {
  left: 1rem;
  height: 5rem;
  width: 5rem;
}
@media only screen and (max-height: 23.5em) {
  .navigator__btn-container {
    height: 2rem;
    width: 2rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .navigator__btn-container {
    display: none;
  }
}
.navigator__toggle-btn {
  right: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.navigator__toggle-btn__icon {
  color: hsl(var(--color-text));
}

.nav.active .nav__nav-links {
  user-select: initial;
  pointer-events: initial;
  height: 100vh;
  opacity: 1;
}
.nav__nav-links {
  user-select: none;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: hsl(var(--nav-bg));
  color: hsl(var(--color-text));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s ease;
}
@media only screen and (min-width: 56.25em) {
  .nav__nav-links {
    user-select: initial;
    pointer-events: initial;
    position: relative;
    padding-top: 4rem;
    gap: 2rem;
    height: auto;
    opacity: 1;
    background-color: transparent;
    flex-direction: row;
  }
}
.nav__link {
  position: relative;
  color: hsl(var(--color-text));
  font-size: 4rem;
  font-family: var(--sub-font);
  text-transform: uppercase;
  text-decoration: none;
}
@media only screen and (min-width: 56.25em) {
  .nav__link {
    font-size: 2.6rem;
  }
}
.nav__link::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 0.3rem;
  width: 0;
  background-color: hsl(var(--color-primary));
  transition: width 0.2s ease-in-out;
}
.nav__link:hover {
  color: hsl(var(--color-primary));
}
.nav__link:hover::before {
  width: 100%;
}

.sidenav {
  position: fixed;
  bottom: 0;
  left: 4rem;
  transition: opacity 0.3s ease;
}
.sidenav.active {
  display: block;
  opacity: 1;
}
@media only screen and (max-width: 900px) {
  .sidenav.active {
    display: none;
  }
}
.sidenav.false {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.sidenav__links {
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}
.sidenav__top-btn, .sidenav__list-item {
  transform: translateX(0);
  transition: 0.2s ease transform;
}
.sidenav__top-btn:hover, .sidenav__list-item:hover {
  color: hsl(var(--color-primary));
  transform: translateX(1rem);
}
.sidenav__link:hover {
  color: hsl(var(--color-primary));
}
.sidenav__top-btn, .sidenav__link {
  font-size: 1.6rem;
  font-family: var(--sub-font);
  color: hsl(var(--color-grey-3));
  text-decoration: none;
}
.sidenav__top-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.side-contact {
  position: fixed;
  bottom: 0;
  right: 4rem;
  transition: 0.3s opacity ease;
}
.side-contact.active {
  opacity: 1;
}
@media only screen and (max-width: 900px) {
  .side-contact.active {
    display: none;
  }
}
.side-contact.false {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.side-contact a {
  display: block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: hsl(var(--color-grey-3));
  font-family: var(--sub-font);
  font-size: 1.6rem;
  transform: translateY(-325%) rotate(90deg);
  transition: 0.3s ease color, 0.3s ease transform;
}
.side-contact a:hover {
  color: hsl(var(--color-primary));
  transform: translateY(-375%) rotate(90deg);
}
@media only screen and (min-width: 37.5em) {
  .side-contact {
    display: block;
  }
}

.list-line {
  margin: 0 auto;
  height: 12rem;
  width: 0.1rem;
  display: block;
  background-color: hsl(var(--color-grey-3));
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  width: 90%;
  font-family: "Work Sans", sans-serif;
  color: hsl(var(--color-text));
}
@media only screen and (min-width: 37.5em) {
  .header {
    width: 80%;
  }
}
@media only screen and (min-width: 56.25em) {
  .header {
    width: 70%;
  }
}
.header__left {
  width: 40%;
  flex: 0 1 30rem;
}
.header__left a {
  font-size: 2rem;
  color: hsl(var(--color-text));
  text-decoration: none;
}
.header__left a:hover {
  text-decoration: underline;
}
.header__left a .down-arrow {
  display: block;
  animation: floatRepeat 1s ease infinite;
}
.header__left p {
  margin-top: 0.5rem;
  font-size: 1.8rem;
}
.header__left h3 {
  font-size: 3rem;
}
.header__left h1 {
  font-size: 4rem;
  line-height: 1;
}
.header__left h1 span {
  display: block;
  line-height: 0.9;
  font-size: 2rem;
}
.header__right {
  height: 100%;
  justify-self: flex-start;
}
.header__right .self-portrait {
  width: 100%;
  height: 100%;
}

@keyframes floatRepeat {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.about {
  background-color: #5b3ecc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%235B3ECC' width='11' height='11'/%3E%3Crect fill='%23683cca' x='10' width='11' height='11'/%3E%3Crect fill='%23743bc8' y='10' width='11' height='11'/%3E%3Crect fill='%237e39c6' x='20' width='11' height='11'/%3E%3Crect fill='%238838c3' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%239036c1' y='20' width='11' height='11'/%3E%3Crect fill='%239935be' x='30' width='11' height='11'/%3E%3Crect fill='%23a133bb' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23a832b9' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23af31b6' y='30' width='11' height='11'/%3E%3Crect fill='%23b530b3' x='40' width='11' height='11'/%3E%3Crect fill='%23bb30b0' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23c130ad' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23c730aa' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23cc30a7' y='40' width='11' height='11'/%3E%3Crect fill='%23d131a4' x='50' width='11' height='11'/%3E%3Crect fill='%23d532a2' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23da349f' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23de369c' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e23899' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e63b96' y='50' width='11' height='11'/%3E%3Crect fill='%23e93d93' x='60' width='11' height='11'/%3E%3Crect fill='%23ec4090' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23ef448e' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23f2478b' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23f54a88' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23f74e86' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23f95283' x='70' width='11' height='11'/%3E%3Crect fill='%23fb5681' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23fd597f' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23ff5d7c' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23ff617a' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23ff6578' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23ff6976' x='80' width='11' height='11'/%3E%3Crect fill='%23ff6e75' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23ff7273' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23ff7672' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23ff7a70' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23ff7e6f' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23ff826e' x='90' width='11' height='11'/%3E%3Crect fill='%23ff866d' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23ff8a6c' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23ff8e6c' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23ff926b' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23ff966b' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23ff9a6b' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23ff9e6b' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23ffa26b' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ffa66c' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ffaa6c' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ffae6d' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ffb26e' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ffb570' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ffb971' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ffbd73' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ffc175' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ffc477' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ffc879' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23ffcb7b' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23FECF7E' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding: 2rem 0;
}
.about .inner-container {
  max-width: 80rem;
  flex-direction: column;
  gap: 1rem;
}
@media only screen and (min-width: 56.25em) {
  .about .inner-container {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8rem;
  }
}
.about__image-container {
  flex: 100%;
  margin: 0 auto;
}
.about__image {
  height: 100%;
  width: 100%;
}
.about__container {
  flex: 100%;
  max-width: 90vw;
  margin: 0 auto;
}
@media only screen and (min-width: 56.25em) {
  .about__container {
    max-width: 80rem;
  }
}
.about__header {
  position: relative;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
  color: hsl(var(--color-text));
}
.about__header::after {
  content: "";
  height: 0.5rem;
  width: 8rem;
  margin: 0 auto;
  background-color: hsl(var(--color-text));
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  right: 0;
  border-radius: 1rem;
}
.about__description {
  margin: 0 auto;
  font-family: var(--sub-font);
  font-size: 1.6rem;
  color: hsl(var(--color-text));
  text-align: left;
  line-height: 1.2;
}
@media only screen and (min-width: 37.5em) {
  .about__description {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .about__description {
    font-size: 2rem;
    line-height: 1.4;
  }
}

.skills__top {
  margin-bottom: 2rem;
}
.skills__header {
  position: relative;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
  color: hsl(var(--color-text));
}
.skills__header::after {
  content: "";
  height: 0.5rem;
  width: 8rem;
  margin: 0 auto;
  background-color: hsl(var(--color-text));
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  right: 0;
  border-radius: 1rem;
}
.skills__description {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 40rem;
  text-align: center;
  font-size: 2rem;
  color: hsl(var(--color-text));
  font-family: var(--sub-font);
}
@media only screen and (min-width: 25em) {
  .skills__description {
    padding: 0;
  }
}
.skills .inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: hsl(var(--container-bg));
  color: hsl(var(--color-text));
  padding: 1rem;
  border-radius: 1rem;
  max-width: 70rem;
}
@media only screen and (min-width: 37.5em) {
  .skills .inner-container {
    flex-direction: row;
    padding: 2rem;
  }
}
.skills__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 4rem;
  font-size: 1.6rem;
}
@media only screen and (min-width: 37.5em) {
  .skills__container {
    width: 50%;
  }
}
.skills__container h3 {
  font-size: 2rem;
}
.skills__container svg {
  font-size: 3rem;
}
.skills__list {
  font-family: var(--sub-font);
}

.divider {
  display: block;
  border: 0.1rem solid hsl(var(--color-text));
  transition: border 0.2s ease;
}

.projects .inner-container {
  max-width: 80rem;
  position: relative;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .projects .inner-container {
    grid-template-columns: repeat(2, minmax(30rem, 40rem));
  }
}
@media only screen and (min-width: 75em) {
  .projects .inner-container {
    grid-template-columns: repeat(2, minmax(40rem, 50rem));
  }
}
.projects__header {
  position: relative;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
  color: hsl(var(--color-text));
}
.projects__header::after {
  content: "";
  height: 0.5rem;
  width: 8rem;
  margin: 0 auto;
  background-color: hsl(var(--color-text));
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  right: 0;
  border-radius: 1rem;
}

.project {
  overflow: hidden;
  background-color: hsl(var(--container-bg));
  border-radius: 0.5rem;
  transition: 0.2s ease transform, 0.3s ease box-shadow;
}
.project:hover {
  transform: translateY(-0.05rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.7);
}
.project__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 75em) {
  .project__img {
    min-width: 30rem;
  }
}
.project__contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem;
  flex: 1;
}
@media only screen and (min-width: 56.25em) {
  .project__contents {
    gap: 2rem;
  }
}
.project__contents > * {
  flex: 1 1 50%;
}
.project__title, .project__description {
  color: hsl(var(--color-text));
}
.project__title {
  font-size: 2rem;
}
.project__description {
  font-size: 1.4rem;
  font-family: var(--sub-font);
}
.project__tech-stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.5rem;
  font-family: var(--sub-font);
  font-weight: 600;
  color: hsl(var(--color-text));
}
.project__tech-stacks .stack {
  background-color: hsl(var(--color-primary));
  padding: 1rem;
  border-radius: 0.3rem;
}
.project__links {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  width: 100%;
}
.project__link {
  text-align: center;
  display: block;
  width: 100%;
  color: hsl(var(--color-primary));
  font-size: 1.4rem;
  font-family: var(--sub-font);
  text-decoration: none;
  background-color: hsl(var(--project-link-bg));
  padding: 1rem;
  white-space: nowrap;
  transform: translateY(-0.4rem);
  transition: transform 0.1s ease;
}
.project__link:hover {
  transform: translateY(0);
}

.contact__header {
  position: relative;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
  color: hsl(var(--color-text));
}
.contact__header::after {
  content: "";
  height: 0.5rem;
  width: 8rem;
  margin: 0 auto;
  background-color: hsl(var(--color-text));
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  right: 0;
  border-radius: 1rem;
}
.contact .inner-container {
  max-width: 80rem;
}
.contact__description {
  text-align: center;
  font-size: 1.6rem;
  font-family: var(--sub-font);
  color: hsl(var(--color-text));
  margin-bottom: 1.4rem;
}
.contact__form-container {
  border-radius: 0.5rem;
  background-color: hsl(var(--color-primary));
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}
@media only screen and (min-width: 37.5em) {
  .contact__form-container {
    width: 80%;
  }
}
.contact__form {
  width: 100%;
  padding: 1rem 2rem;
}
@media only screen and (min-width: 37.5em) {
  .contact__form {
    padding: 3rem 4rem;
  }
}
.contact button {
  width: 100%;
  cursor: pointer;
  padding: 2rem 0;
  font-weight: 600;
  font-family: var(--primary-font);
}
.contact__link-container {
  display: flex;
  justify-content: center;
}
.contact__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-family: var(--sub-font);
  color: hsl(var(--color-text));
  border: 0.2rem solid hsl(var(--color-primary));
  border-radius: 0.6rem;
}
.contact__link:hover {
  background-color: hsl(var(--color-primary));
}
.contact__link:hover .arrow-right {
  margin-left: 1rem;
  transition: 0.3s ease margin-left;
}

.form-group {
  color: hsl(var(--color-text));
  margin-bottom: 1rem;
}
@media only screen and (min-width: 37.5em) {
  .form-group {
    margin-bottom: 3rem;
  }
}
.form-group > * {
  display: block;
}
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group input {
  width: 100%;
  padding: 1rem 0.5rem;
  font-family: var(--sub-font);
}
@media only screen and (min-width: 37.5em) {
  .form-group input {
    padding: 1.4rem 0.8rem;
  }
}
.form-group input[type=text], .form-group input[type=email] {
  font-size: 1.6rem;
}
.form-group label {
  font-size: 1.6rem;
  font-family: var(--sub-font);
  margin-bottom: 0.5rem;
}
.form-group textarea {
  font-size: 1.6rem;
  font-family: var(--sub-font);
  width: 100%;
  height: 20rem;
  padding: 1rem;
}

.footer {
  font-family: var(--sub-font);
  padding: 8rem 0;
  background-color: hsl(var(--color-black));
  color: hsl(var(--color-white));
}
.footer .inner-container {
  margin-bottom: 0;
  gap: 2rem;
  justify-content: space-between;
  flex-direction: column;
}
.footer__top h3 {
  font-size: 1.8rem;
}
.footer__top .description {
  font-size: 1.4rem;
}
.footer__top-left, .footer__top-right {
  flex-direction: column;
  flex: 100%;
}
.footer__top-left {
  gap: 1rem;
}
.footer__top-right {
  align-items: flex-end;
  gap: 1rem;
}
.footer__top-right .links {
  font-size: 3rem;
}
.footer__top-right .links a {
  color: hsl(var(--color-white));
  transition: color 0s;
}
.footer__top-right .links a:hover {
  color: hsl(var(--color-primary));
}
.footer .links {
  justify-content: center;
  gap: 1rem;
}
.footer__bottom {
  text-align: center;
  border-top: 0.2rem solid hsl(var(--color-white));
}
.footer__bottom div {
  margin: 1rem 0;
  font-size: 1.4rem;
}
.footer__bottom div p {
  margin-top: 0.4rem;
}
.footer__bottom div a {
  color: hsl(var(--color-white));
}

/*# sourceMappingURL=app.css.map */
