.about {
  @include aboutBGPattern;
  padding: 2rem 0;

  .inner-container {
    max-width: 80rem;
    flex-direction: column;
    gap: 1rem;

    @include responsive(900) {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 8rem;
    }
  }

  &__image-container {
    flex: 100%;
    margin: 0 auto;
  }

  &__image {
    height: 100%;
    width: 100%;
  }

  &__container {
    flex: 100%;
    max-width: 90vw;
    margin: 0 auto;

    @include responsive(900) {
      max-width: 80rem;
    }
  }

  &__header {
    @include sectionHeaderStyle;
  }

  &__description {
    margin: 0 auto;
    font-family: var(--sub-font);
    font-size: 1.6rem;
    color: hsl(var(--color-text));
    text-align: left;
    line-height: 1.2;

    @include responsive(600) {
      font-size: 1.8rem;
    }

    @include responsive(900) {
      font-size: 2rem;
      line-height: 1.4;
    }
  }
}
