.contact {
  &__header {
    @include sectionHeaderStyle;
  }

  .inner-container {
    max-width: 80rem;
  }

  &__description {
    text-align: center;
    font-size: 1.6rem;
    font-family: var(--sub-font);
    color: hsl(var(--color-text));
    margin-bottom: 1.4rem;
  }

  &__form-container {
    border-radius: 0.5rem;
    background-color: hsl(var(--color-primary));
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 0 auto;

    @include responsive(600) {
      width: 80%;
    }
  }

  &__form {
    width: 100%;
    padding: 1rem 2rem;

    @include responsive(600) {
      padding: 3rem 4rem;
    }
  }

  button {
    width: 100%;
    cursor: pointer;
    padding: 2rem 0;
    font-weight: 600;
    font-family: var(--primary-font);
  }

  &__link-container {
    display: flex;
    justify-content: center;
  }

  &__link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    font-family: var(--sub-font);
    color: hsl(var(--color-text));
    border: 0.2rem solid hsl(var(--color-primary));
    border-radius: 0.6rem;

    &:hover {
      background-color: hsl(var(--color-primary));
    }

    &:hover .arrow-right {
      margin-left: 1rem;
      transition: 0.3s ease margin-left;
    }
  }
}

.form-group {
  color: hsl(var(--color-text));
  margin-bottom: 1rem;

  @include responsive(600) {
    margin-bottom: 3rem;
  }

  & > * {
    display: block;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  input {
    width: 100%;
    padding: 1rem 0.5rem;
    font-family: var(--sub-font);
    @include responsive(600) {
      padding: 1.4rem 0.8rem;
    }
    &[type="text"],
    &[type="email"] {
      font-size: 1.6rem;
    }
  }

  label {
    font-size: 1.6rem;
    font-family: var(--sub-font);
    margin-bottom: 0.5rem;
  }

  textarea {
    font-size: 1.6rem;
    font-family: var(--sub-font);
    width: 100%;
    height: 20rem;
    padding: 1rem;
  }
}