.navigator {
  position: relative;
  z-index: 1000;

  &.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__btn-container,
  &__toggle-btn {
    position: absolute;
    top: 4rem;
    z-index: 100;

    @media only screen and (max-height: 23.5em) and (max-width: 56.25em) {
      top: 1rem;
    }
  }

  &__btn-container {
    left: 1rem;
    height: 5rem;
    width: 5rem;

    @media only screen and (max-height: 23.5em) {
      height: 2rem;
      width: 2rem;
    }

    @include responsive(900) {
      display: none;
    }
  }

  &__toggle-btn {
    right: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &__icon {
      color: hsl(var(--color-text));
    }
  }
}

.nav {
  &.active &__nav-links {
    user-select: initial;
    pointer-events: initial;
    height: 100vh;
    opacity: 1;
  }

  &__nav-links {
    user-select: none;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: hsl(var(--nav-bg));
    color: hsl(var(--color-text));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.2s ease;

    @include responsive(900) {
      user-select: initial;
      pointer-events: initial;
      position: relative;
      padding-top: 4rem;
      gap: 2rem;
      height: auto;
      opacity: 1;
      background-color: transparent;
      flex-direction: row;
    }
  }

  &__link {
    position: relative;
    color: hsl(var(--color-text));
    font-size: 4rem;
    font-family: var(--sub-font);
    text-transform: uppercase;
    text-decoration: none;

    @include responsive(900) {
      font-size: 2.6rem;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      height: 0.3rem;
      width: 0;
      background-color: hsl(var(--color-primary));
      transition: width 0.2s ease-in-out;
    }

    &:hover {
      color: hsl(var(--color-primary));

      &::before {
        width: 100%;
      }
    }
  }
}

// =============================
// SIDENAV
// =============================

.sidenav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 4rem;

  &__links {
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
  }

  &__list-item {
    transition: 0.2s ease transform;
  }

  &__list-item:hover {
    transform: translateX(1rem);
  }
  &__top-btn,
  &__link {
    font-size: 1.6rem;
    font-family: var(--sub-font);
    color: hsl(var(--color-text));
    text-decoration: none;
  }

  &__top-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  @include responsive(768) {
    display: block;
  }
}
.side-contact {
  position: fixed;
  bottom: 0;
  right: 4rem;
}

.list-line {
  height: 12rem;
  width: 0.1rem;
  display: block;
  background-color: hsl(var(--color-text));
}
