.projects {
  .inner-container {
    max-width: 80rem;
    position: relative;
    margin: 0 auto;
    display: grid;
    // justify-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    @include responsive(600) {
      grid-template-columns: repeat(2, minmax(30rem, 40rem));
    }

    @include responsive(1200) {
      grid-template-columns: repeat(2, minmax(40rem, 50rem));
    }
  }

  &__header {
    @include sectionHeaderStyle;
  }
}

.project {
  overflow: hidden;
  background-color: hsl(var(--container-bg));
  border-radius: 0.5rem;
  transition: 0.2s ease transform, 0.3s ease box-shadow;

  &:hover {
    transform: translateY(-0.05rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.7);
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include responsive(1200) {
      min-width: 30rem;
    }
  }

  &__contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    flex: 1;

    @include responsive(900) {
      gap: 2rem;
    }

    & > * {
      flex: 0 1 100%;
    }
  }

  &__title,
  &__description {
    color: hsl(var(--color-text));
  }

  &__title {
    font-size: 2rem;
  }

  &__description {
    font-size: 1.4rem;
    font-family: var(--sub-font);
  }

  &__tech-stacks {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.5rem;
    font-family: var(--sub-font);
    font-weight: 600;
    color: hsl(var(--color-text));

    .stack {
      background-color: hsl(var(--color-primary));
      padding: 1rem;
      border-radius: 0.3rem;
    }
  }

  &__links {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    width: 100%;
  }

  &__link {
    text-align: center;
    display: block;
    width: 100%;
    color: hsl(var(--color-primary));
    font-size: 1.4rem;
    font-family: var(--sub-font);
    text-decoration: none;
    background-color: hsl(var(--project-link-bg));
    padding: 1rem;
    white-space: nowrap;
    transform: translateY(-0.4rem);
    transition: transform 0.1s ease;

    &:hover {
      transform: translateY(0);
    }
  }
}
