.skills {
  &__top {
    margin-bottom: 2rem;
  }

  &__header {
    @include sectionHeaderStyle;
  }

  &__description {
    margin: 0 auto;
    max-width: 40rem;
    text-align: center;
    font-size: 2rem;
    color: hsl(var(--color-text));
    font-family: var(--sub-font);
  }

  .inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: hsl(var(--container-bg));
    color: hsl(var(--color-text));
    padding: 1rem;
    border-radius: 1rem;
    max-width: 70rem;
    @include responsive(600) {
      flex-direction: row;
      padding: 2rem;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 4rem;
    font-size: 1.6rem;

    h3 {
      font-size: 2rem;
    }

    svg {
      font-size: 3rem;
    }
  }

  &__list {
    font-family: var(--sub-font);
  }
}

.divider {
  display: block;
  border: 0.1rem solid hsl(var(--color-text));
  transition: border 0.2s ease;
}
