*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: color 0.2s ease, background-color 0.2s ease;
  /*Automatically inherits what is specified by on the later border-box*/
}

html {
  //this defines what 1rem is -- 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: hsl(var(--color-page-background));
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font), sans-serif;
}
